@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Arimox', sans-serif;
    color: #434834;
}
li{
    list-style: none;
}

.pijl-boven{
    position: fixed;
}
.pijl-boven img{
    position: absolute;
    top: 950px;
    left: 1770px;
    width: 100px;
    height: 100px;
}
nav{
    position: absolute;
    right: 70px;
    top: 30px;
}
nav ul{
    display: flex;
    gap: 5rem;
}
nav a{
    font-size: 30px;
    color: #EAE3D3;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

header{
    background-color: #767A61;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 13rem;
}
header h1{
    font-size: 140px;
    color: #EAE3D3;
}








.bloem4{
    position: relative;
}
.bloem4 img{
    position: absolute;
    top: -250px;
    left: 100px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #EAE3D3;
    height: 607px;
}
footer p{
    font-size: 30px;
}
footer img{
    width: 60px;
}
.gegevens{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.nummer, .email{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}
.socials{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 407px;
}


/* -- MOBILE -- */
@media (max-width: 900px) {
    .b-bloem1, .b-bloem2, .t-bloem1, .t-bloem2, .bloem4 img {
        display: none;
    }
    header h1 {
        font-size: 90px;
        margin-left: 2rem;
        width: auto;
    }
    .info p{
        font-size: 32px;
        width: auto;
    }
    .budapest h2, .tanzania h2{
        font-size: 90px;
        width: auto;
        margin: 1rem;
    }
    .b-foto1, .b-foto2, .b-foto3, .t-foto1, .t-foto2, .t-foto3{
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        margin: 2rem;
        font-size: 32px;
    }
    .b-foto1 p, .b-foto2 p, .b-foto3 p, .t-foto1 p, .t-foto2 p, .t-foto3 p{
        width: auto;
        text-align: center;
        margin: 2rem;
        font-size: 32px;
    }
    .b-foto1 img, .b-foto2 img, .b-foto3 img, .t-foto1 img, .t-foto2 img, .t-foto3 img{
        width: 100%;
        height: auto;
    }

}