@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Arimox', sans-serif;
    color: #434834;
}
li{
     list-style: none;
}

.pijl-boven{
     position: fixed;
 }
.pijl-boven img{
    position: absolute;
    top: 950px;
    left: 1770px;
    width: 100px;
    height: 100px;
}







footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #EAE3D3;
    height: 607px;
}
footer p{
    font-size: 30px;
}
footer img{
    width: 60px;
}
.gegevens{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.nummer, .email{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}
.socials{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 407px;
}

/* -- MOBILE -- */
@media (max-width: 900px){
    .bloem1, .bloem2, .bloem3, .bloem4 img{
        display: none;
    }
    header h1{
        font-size: 120px;
    }
    .talen{
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        width: auto;
    }
    .sterren h2{
        font-size: 50px;
    }
    .lijst li{
        font-size: 32px;
        padding-top: 1rem;
    }
    .stars img{
        width: 36px;
        height: 36px;
    }

    .interesses{
        width: auto;
        height: auto;
        margin: auto 2rem;
        margin-bottom: 6rem;
    }
    .interesses h2{
        font-size: 50px;
        padding-bottom: 3rem;
    }
    .icons img{
        width: 90px;
        height: 90px;
    }
    .tekst li{
        font-size: 36px;
        padding-bottom: 6.3rem;
    }

    .werkervaring .jobs{
        flex-direction: column;
        gap: 5rem;
    }
    .werkervaring h2{
        font-size: 50px;
    }
    .bakker h3, .bar h3, .magazijn h3{
        font-size: 26px;
    }

    .vaardigheden h2{
        font-size: 50px;
    }
    .photoshop, .illustrator, .indesign, .web{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}
